In [1]:
 "q1 :
    "ineruon \n",
    "ineruon ineruon \n",
    "ineruon ineruon ineruon\n",
    "ineruon ineruon ineruon ineruon\n",
    "\n",
    "q2 - \n",
    "\n",
    "          ineruon\n",
    "    ineruon      ineruon\n",
    "ineruon\t\tineruon \tineruon\n",
    "\tineruon\t\t ineruon\n",
    "\t\t  ineruon\n",
    "\n",
    "l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :\"sudh\" , \"k2\" : \"ineuron\",\"k3\":\n",
    "            \"kumar\" , 3:6 , 7:8} , [\"ineuron\" , \"data science \"]]\n",
    "\n",
    "q3 : Try to extract all the list entity \n",
    "q4 : Try to extract all the dict enteties\n",
    "q5 : Try to extract all the tuples entities\n",
    "q6 : Try to extract all the numerical data it may b a part of dict key and values \n",
    "q7 : Try to give summation of all the numeric data \n",
    "q8 : Try to filter out all the odd values out all numeric data which is a part of a list \n",
    "q9 : Try to extract \"ineruon\" out of this data\n",
    "q10 :Try to find out a number of occurances of all the data \n",
    "q11 : Try to find out number of keys in dict element\n",
    "q12 : Try to filter out all the string data \n",
    "q13 : Try to Find  out alphanum in data\n",
    "q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset \n",
    "q15 : Try to unwrape all the collection inside collection and create a flat list \n",
    "    \n",
    "    \n",
    "before 29th may 2022 3 PM IST you have to send an answer to me or to shivan \n",
    "sudhanshu@ineuron.ai\n",
    "shivan@ineuron.ai"

SyntaxError: EOL while scanning string literal (105686462.py, line 1)

In [ ]:
# 1
d = "ineuron"
for i in range(5):
    for a in range(0, i+1):
        print("ineuron", end = " ")
    print("\n")

In [ ]:
# 2
a = int(input("Enter the number of rows-"))
for i in range(0,a):
    for b in range(0, a-i-1):
       print(end = " ")
    for b in range(0,i+1):
        print("ineuron", end = " ")
    print()

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [3]:
# 3 "q3 : Try to extract all the list entity \n",
for i in l:
    print(i)

[1, 2, 3, 4]
(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)
{45, 4, 5, 23}
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}
['ineuron', 'data science ']

In [4]:
# "q4 : Try to extract all the dict enteties\n",
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [5]:
# "q5 : Try to extract all the tuples entities\n",
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [6]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
# q6 : Try to extract all the numerical data it may b a part of dict key and value

for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == type(int):
                print("j")